* {box-sizing: border-box}

/* Full-width input fields */
  /* Full-width input fields */
input[type=text], input[type=password] {
  padding: 20px 120px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  box-sizing: border-box;
  background: #f1f1f1;
}

form:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#title {
    /* 	text-align: center; */
  color: white;
  margin: auto;
  width: 50%;
  font-size: 2rem;
  text-shadow:4px 1px black;
    }

#description {
  color:white;
  margin: auto;
  width: 50%;
  }
#apply {
  margin: auto;
    width: 40%;

}
#sign {
margin: auto;
width: 500%;

}
.form-header {
  padding: 20px 40px;
  margin: auto;
  background: green;
  background: linear-gradient(50deg,green 0%,rebeccapurple 150%);
}  

input[type=number]:focus, input[type=text]:focus {
  background-color: #ddd;
  outline: none;
      }
/* Extra styles for the submit button */
.signupbtn {
  padding: 14px 20px;
  background-color: green;
  }

