.mt-1rem {
    margin-top: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.boxShadow {
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    -moz-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
}

.statusText {
    color: #CCC; 
    font-size: 0.9rem; 
    display: block;
}

.minorBtns {
    font-size: 0.7rem; 
    margin: 0.5rem 0;  
    display: inline-block;  
    padding: 0.6rem 1rem; 
    border-radius: 25px;
}

.minorBtns--red {
    color: red; 
    background: rgb(255, 239, 233);
}

.minorBtns--deepOrange {
    color: #FFF; 
    background: #FFAD08;
}

.minorBtns--purple {
    color: #6271D2; 
    background: #dee3ff;
}

.minorBtns--whiteTextGreenBG {
    color: #FFF; 
    background: rgb(4, 95, 39)
}

.minorBtn--padding {
    padding: 1.5rem 4rem; 
}

.minorBtns--green {
    color: rgb(148, 239, 183); 
    background: rgb(237, 255, 244);
}

.minorBtns--grey {
    background: rgb(237, 237, 237);
}

.darkGrey {
    color: rgb(96, 101, 107);
    background: rgb(238, 238, 238);
}

.darkGreyText {
    color: rgb(96, 101, 107);
    line-height: 1.5;
    font-size: 1rem;
}

.loanStatusTextOnBtn {
    font-weight: bold;
    text-transform: uppercase;
}

.notificationNumber {
    font-size: 0.8rem; 
    position: absolute;
    top: -4px; 
    left: 32px; 
    text-align: center; 
    background: blueviolet; 
    border-radius: 50%; 
    width:20px; 
    height: 20px; 
    line-height: 20px;
}

.repaymentText {
    color: #79828B; 
    margin-bottom: 3rem;
    line-height: 1.4;
}

.loanStatusText {
    font-size: 1rem; 
    line-height: 1.6
}

.checkIcon {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.pink {
    background: #FF08A3;
}

.positionRelative {
    position: relative;
}

.loanFormSpacer {
    width: 10%;
}

.loanAppHeight {
    height: 50px;
}

.displayBlock {
    display: block;
}

.paidIndicator, .unPaidIndicator, .greyIndicator {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 1rem;
}

.paidIndicator {
    background: green;
}

.unPaidIndicator {
    background: orangered;
}

.greyIndicator {
    background: grey;
}

.emphasis {
    font-weight: bold;
    color: burlywood;
}

.grey {
    color: rgb(201, 204, 206);
}

.amountSize, .amountDue {
    font-size: 2rem;
}

.amountDue {
    margin-top: 2rem
}

.dashboard__container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}

.topNavbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.topNavbar__wrapper__notificationArea {
    display: flex;
    align-items: left;
    position: relative;
    align-items: right;
}

.topNavbar__wrapper__notificationArea__anchor {
    margin-left: 1.5rem;
    text-decoration: none;
    align-items: right;
    color: #FFF;
}

.topNavbar__wrapper__notificationArea__anchor:first-of-type {
    margin-right: 1.2rem;
}

.topNavbar__wrapper__notificationArea__anchor:nth-child(3) {
    margin: 0;
}

.topLoanBtn-wrapper {
    width: 200px;
    margin-bottom: 3rem;
}

.form__inputWrapper__largeBtn--whiteDisabled {
    background: rgb(255, 255, 255);
    color: rgb(113, 0, 219);
}

.form__inputWrapper__largeBtn--whiteDisabled:disabled {
    color: rgb(85, 14, 167);
    cursor: not-allowed;
    opacity: 0.8;
}

.form__inputWrapper__largeBtn--purpleDisabled:disabled {
    color: #FFF;
    cursor: not-allowed;
    background: rgb(188, 196, 252);
}

.cardHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.largeCard {
    background: rgb(32, 82, 67);
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 60%;
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    -moz-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
    margin-right: 2rem;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
}

.largeCard__leftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
}

.largeCard__leftSection__upper__title {
    color: #79828B;
    display: block;
    margin-bottom: 0.8rem;
}

.largeCard__leftSection__upper__verificationStatus {
    font-size: 2rem;
    display: inline-block;
    color: rgb(73, 233, 68);
}

.largeCard__leftSection__lower__title {
    color: #79828B;
    display: block;
    margin-top: 2rem;
}

.smallCard {
    background: rgb(32, 82, 67);
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 40%;
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    -moz-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
    text-align: center;
    color: #79828B;
    padding: 3rem 2rem;
}
.smallCard__leftSection__amount {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    color: rgb(28, 207, 28);
}

.smallCard__leftSection__daysLeft {
    color: rgb(223, 91, 14);
}
.smallCard__leftSection__currentLoans {
    color: rgb(9, 10, 12);
    display: block;
    margin-bottom: 2rem;
}
.smallCard__paragraph {
    line-height: 21px;
    font-size: 0.82rem;
}

.smallCard__btn {
    width: 60%;
}

.lowerCardHolder {
    padding: 6rem;
    text-align: center;
}

.contentWrapper {
    width: 300px;
    margin: 0 auto;
}

.contentWrapper__noTransaction {
    color: #CCC;
    font-size: 1.3rem;
    display: block;
}

.updateProfileSection {
    padding: 3rem; 
    text-align: left;
}

.updateProfileSection__textArea {
    text-align: left; 
    width: 100%; 
    border: 1px solid #CCC;
}

.uploadWrapper {
    display: flex; 
    align-items: center; 
    margin-top: 1.5rem;
}

.realImageUploadHolder {
    display: none; 
    width: 70px; 
    height: 60px; 
    margin-right: 1rem;
}

.uploadWrapper__text__label {
    cursor: pointer; 
    color: #CCC; 
    display: block; 
    text-decoration: underline;
}

.uploadWrapper__text__upload {
    display: none; 
    color: #CCC;
}

.uploadWrapper__text__sizeLimit {
    color: #6271D2; 
    font-size: 0.7rem;
}

.imgPlacehoder {
    margin-right: 1rem;
}

.showNotification {
    display: flex !important; 
    position: absolute; 
    top: 9rem; 
    z-index: 1; 
    background: #FFF;  
    align-items: center;  
    padding: 1.5rem; 
    border-radius: 4px;
}

.notificationMessage {
    display: none;
}

.smallNotificationIcon {
    margin-right: 1rem;
}

.smallNotificationIconText {
    font-size: 0.8rem; 
    line-height: 1.2;
}

.LoanAplicationWrapper {
    padding: 2rem;
}

.loanForm {
    display: flex;
    justify-content: space-between;
}

.loanTextLabel {
    font-size: 2rem;
}

.requestLoanBtn {
    width: 40%;
    margin: 2rem auto;
}

.loanForm__left, .loanForm__right {
    width: 40%;
}

.paymentRate {
    color: #FF08A3;
    font-weight: bold;
    font-size: 3rem;
}



.historyWrapper {
    display: flex;
    background: rgb(93, 173, 109);
    margin-bottom: 2rem;
}

.whiteSpace {
    padding: 3rem 2rem;
}

.loanID {
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 1rem;
    width: 25%;
}

.repaymentBreakdown {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.loanID__code {
    font-weight: bold;
    color: rgb(10, 13, 15);
}

.loanID__purpose {
    margin-top: 0.6rem;
    font-size: 0.8rem;
    color: rgb(99, 141, 184);
}

.repaymentSpacer {
    width: 4%;
}

.paymentDateWrapper {
    display: flex;
    width: 30%;
}

.paymentDateWrapper:last-child {
    flex: 0 30%;
}


.paymentDateWrapper__text {
    font-size: 0.8rem;
}


/* Media Queries */

@media (max-width: 710px) {
    .topNavbar__wrapper {
        display: block;
        text-align: center;
    }
    .topNavbar__wrapper__notificationArea {
        justify-content: space-between;
        margin-top: 1rem;
        text-align: right;
    }
    .topLoanBtn-wrapper {
        width: 100%;
    }
    .cardHolder {
        display: block;
    }
    .largeCard, .smallCard, .lowerCardHolder {
        display: block;
        width: 100%;
        padding: 0;
    }
    .largeCard, .smallCard {
        padding: 2rem 0;
    }
    .contentWrapper {
        width: 100%;
    }
    .dashboard__container {
        padding-top: 2rem;
    }
    .topNavbar__wrapper {
        margin-bottom: 2rem;
    }
    .largeCard__rightSection {
        display: block;
        text-align: center;
        margin-top: 3rem;
        margin-right: 0;
    }
    .largeCard__leftSection {
        text-align: center;
    }

    .smallCard {
        margin-top: 3rem;
    }

    .updateProfile {
        padding: 1rem;
    }
}

@media (min-width: 425px) and (max-width: 980px) {
    .cardHolder {
        display: block;
     }
     
     .largeCard {
        width: -webkit-fill-available;
        margin-right: 0;
     }
     
     .smallCard {
        margin-top: 3rem;
        width: -webkit-fill-available;
     }   
}

@media  (max-width: 426px) {
    .avatar {
        display: none;
    }
}

@media (min-width: 710px) { 

    .showNotification {
        top: 8rem;
        right: 9rem;
    }
}

@media (min-width: 1300px) { 

    .showNotification {
        top: 8rem;
        right: 15rem;
    }
}

@media (max-width: 769px) {
    .loanForm { 
        display: block;
    }

    .loanForm__left, .loanForm__right, .requestLoanBtn { 
        width: 100%;
    }

    .historyWrapper {
        display: block;
        text-align: center;
    }
       
    .loanID {
           width: 100%;
           margin-left: 0;
           border-right: none;
    }
       
    .repaymentSpacer {
         display: none;
    }
       
    .repaymentBreakdown, .paymentDateWrapper {
           display: block;
           width: 100%;
    }

    .paymentDateWrapper {
            margin: 1.5rem 0;
    }
}

@media (min-width: 769px) {
    .paymentDateWrapper__text {
        font-size: 0.7rem;
        line-height: 1.2;
    }
}
/* Form heading Component */

.formHeading {
    font-weight: bold;
    font-size: 1.5rem;
    color: blue;
    margin-bottom: 2rem;
}

/* Form Input and Label Component */

.form {
    width: 18.75rem;
    padding: 0.625rem;
    margin: 0 auto;
}

.form__inputWrapper {
    margin-bottom: 1.5rem;
}

.form__inputWrapper__label {
    font-size: 0.9rem;
    display: inline-block;
    color: green;
    margin-bottom: 0.4rem;
    position: relative;
}

.form__inputWrapper__input {
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgba(66, 80, 92, 0.38);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
}

.form__input[type='text'] {
    font-family: 'Rubik', sans-serif;
}


/* Large button component */

.form__inputWrapper__largeBtn {
    width: 100%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: orangered;
    background: rgb(54, 108, 226);
    text-align: center;
    padding: 1rem;
    border-radius: 2px;
    letter-spacing: 0.05rem;
}

/* NAvbar */

.topNavbar {
    height: 300px;
    background: green;
    background: linear-gradient(50deg,green 0%,rebeccapurple 150%);
}
  
.header h1 {
    position: relative;
    top: 18px;
    left: 20px;
}