.largeCard {
    background: rgb(32, 82, 67);
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 60%;
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    -moz-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
    margin-right: 2rem;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
}

.largeCard__rightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
}

.largeCard__rightSection__upper__title {
    color: #79828B;
    display: block;
    margin-bottom: 0.8rem;
}

.largeCard__rightSection__upper__verificationStatus {
    font-size: 2rem;
    display: inline-block;
    color: rgb(73, 233, 68);
}

.largeCard__rightSection__lower__title {
    color: #79828B;
    display: block;
    margin-top: 2rem;
}
