# ignore packages installed by npm
node_modules

# Coverage directory used 
Coverage

#ignore vscode worksapce files
.vscode

#ignore build files
demos 
builds
.env
dist

#you may add any other files that you want ignored 
dist/