* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  padding: 15px 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  box-sizing: border-box;
  background: #f1f1f1;
}

#title {
  /* 	text-align: center; */
    color: white;
    font-size: 2rem;
    text-shadow:4px 1px black;
  }

  #description {
    color:white;
}
  .form-header {
    padding: 20px 40px;
    background: green;
    background: linear-gradient(50deg,green 0%,rebeccapurple 150%);
  }  
  
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the login button */
.loginbtn {
    padding: 14px 20px;
    background-color: green;
  }
  

/* style for sign up link */

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}